<style>
    .pub-link {
        color: #98A8F8;
    }
    
    .view-all-link {
        color: #98A8F8;
    }
    
    .custom-radius {
        border-radius: 15px;
    }
    </style>
    

 
<div class="my-3 p-0 bg-white shadow-sm custom-radius">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Misc</h5>
        </div>
        <div class="d-flex align-items-center">
            <h6 class="mb-0">Services</h5>
        </div>
        <p class="card-text">
            Reviews: TMLR (2025, 2026), RLC (2025, 2026), ECML(2025), ACML(2025), EWRL (2025). 
        </p>
    </div>
</div>
 