<style>
  a.follow_href {
  color: #6096B4;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a.follow_href:hover {
  color: #4a7a94;
  text-decoration: none;
}

a.location_href {
  color: #6096B4;
  text-decoration: none; 
}

.custom-radius {
    border-radius: 15px;
}

.profile-portrait-container {
    position: relative;
    display: inline-block;
}

/* New: responsive square avatar container to avoid image stretching */
.avatar-container {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.avatar-container .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-portrait-container .profile-portrait.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
/* 
.profile-portrait-container:hover .profile-portrait.hover {
    opacity: 1;
}

.profile-portrait-container:hover .profile-portrait:not(.hover) {
    opacity: 0;
}

.profile-portrait-container .profile-portrait:not(.hover) {
    transition: opacity 0.3s ease-in-out;
} */
</style>

<div class="row sticky-top" style="top: 80px">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white custom-radius">
            <div class="card-body px-4 pt-4 pb-3">
                <div class="row">
                    <div class="col text-center">
                        {% if site.data.profile.portrait_url %}
                        <!-- Portrait image for both mobile and desktop -->
                        <div class="figure">
                            <div class="profile-portrait-container avatar-container">
                                <img 
                                    src="{{ site.data.profile.portrait_url | relative_url }}" 
                                    class="figure-img img-fluid img-thumbnail rounded-circle shadow profile-portrait avatar-img" 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="{{ site.data.profile.portrait_caption }}">
                                <!-- {% if site.data.profile.portrait_url_var1 %}
                                <img 
                                    src="{{ site.data.profile.portrait_url_var1 | relative_url }}" 
                                    class="figure-img img-fluid img-thumbnail rounded-circle shadow profile-portrait hover" 
                                    style="height: 200px;"
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="{{ site.data.profile.portrait_caption }}">
                                {% endif %} -->
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center h4">
                        {{ site.data.profile.primary_name }}
                    </div>
                </div>

                <div class="row small">
                    <div class="col text-center">
                        {% for position in site.data.profile.positions %}
                        {{ position.name }}
                        {% if position.logo -%}
                        <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge" style="max-height: 1.2em; vertical-align: middle; margin-left: 5px;"/>
                        {%- endif %}
                        <br/>
                        {% endfor %}
                    </div>
                </div>

                <div class="row small">
                    <div class="col text-center">
                        <a class="email-text follow_href" href="mailto:{{ site.data.profile.email | encode_email }}">
                            {{ site.data.profile.email | replace: "@", "(at)" }}
                        </a>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col text-center h4">
                        {% if site.data.profile.gscholar %}
                        {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                        {%- assign gscholar_url = site.data.profile.gscholar -%}
                        {%- else -%}
                        {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                        {%- endif -%}
                        <a class="px-1 no-break follow_href" target="_blank" href="{{ gscholar_url }}">
                            <i class="fab fa-google-scholar"></i>
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.github %}
                        <a class="px-1 no-break follow_href" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                            <i class="fab fa-github"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.wechat_qrcode %}
                        <a class="px-1 no-break follow_href" data-toggle="modal" data-target="#modal-wechat">
                            <i class="fab fa-weixin"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.twitter %}
                        <a class="px-1 no-break follow_href" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.linkedin %}
                        <a class="px-1 no-break follow_href" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.orcid %}
                        <a class="px-1 no-break follow_href" target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">
                            <i class="fab fa-orcid"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}